{% extends "base.html" %}

{% block css %}
        <link href="/en/css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="/en/css/font-awesome-4.0.3.css" rel="stylesheet">
        <link href="/en/css/base.css?2" rel="stylesheet">
        <link rel="stylesheet" href="/en/css/highlight.css">
        {%- for path in extra_css %}
        <link href="{{ path }}" rel="stylesheet">
        {%- endfor %}
        <link href="/en/css/custom.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="row-fluid">
      <div id="main-content" class="span12">
        <h1 id="404-page-not-found" style="text-align: center">404</h1>
        <p style="text-align: center"><strong>Page not found</strong></p>
      </div>
    </div>

{% endblock %}
